/*-----Зачистка стилей--------*/
/* Указываем box sizing */
*, *::before, *::after {
    box-sizing: border-box;
}
/* Убираем внутренние отступы */
ul[class], ol[class] {
    padding: 0;
}
/* Убираем внешние отступы */
body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
}
/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}
/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class], ol[class] {
    list-style: none;
}
/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}
/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}
/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
    margin-top: 1em;
}
/* Наследуем шрифты для инпутов и кнопок */
input, button, textarea, select {
    font: inherit;
}
/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/*----Стартовые настройки нового стиля----*/
* {
    box-sizing: border-box;
}
body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
}
.wrapper{
    min-width: 320px;
    height: 100%;
}
.container{
}
p {
    margin-top: 1em;
    margin-bottom: 1em;
}

@media(min-width: 1024px){
    .container{
        max-width: 960px;
        margin: 0 auto;
    }
}

/*Настройки шапки*/
.header{
    background: linear-gradient(#0f3652, #2492df)
}
.header_body {
    height: 80px;
}
.header_body h1 {
    font-size: 18px;
}
.header_body a {
    color: white;
    text-decoration: none;
}
@media(min-width: 640px){
    .header_body{
        height: 100px;
    }
    .header_body h1{
        font-size: 22px;
    }
}
@media(min-width: 1024px){
    .header_body{
        height: 150px;
    }
    .header_body h1{
        font-size: 50px;
        text-align: center;
    }
}


/*Навигация первого уровня*/
.fill {
    background: #fff;
    padding: 5px 0;
    box-shadow: 0px 5px 5px #dedede;
}
.fill ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}
.fill li {
}
.fill a {
    padding: 2px;
    text-decoration: none;
    color: #aaa;
    font-weight: 600;
    text-transform: uppercase;
}

@media(min-width: 1024px){
    .fill{
        padding: 25px 0;
    }
    .fill ul{
        text-align: center;
        flex-direction: row;
        justify-content: center;
    }
    .fill li{
        padding: 0 15px;
    }
    .fill a {
        padding: 15px;
        position: relative;
        transition: all 1s;
    }
    .fill a, .fill a:after, .fill a:before {
        transition: all .5s;
    }
    .fill a:hover {
        color: #555;
        color: #fff;
        z-index: 1;
    }
    .fill a:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 0%;
        content: '.';
        color: transparent;
        background: rgb(112, 112, 112);
        height: 1px;
        text-align: left;
        content: '.';
        margin: 0;
        opacity: 0;
    }
    .fill a:hover:after {
        z-index: -10;
        animation: fill 0.5s forwards;
        -webkit-animation: fill 0.5s forwards;
        -moz-animation: fill 0.5s forwards;
        opacity: 1;
    }
    @-webkit-keyframes fill {
        0% {
            width: 0%;
            height: 1px;
        }
        50% {
            width: 100%;
            height: 1px;
        }
        100% {
            width: 100%;
            height: 100%;
            background: #2492df;
        }
    }

}

/*Настройки блоков*/
.content{

}
.main{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: space-between;
}
.block {
    width: 100%;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    text-indent: 0px;
    box-shadow: 0 5px 5px #dedede;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    cursor: grab;
}
.block:hover{
    color: #000;
    box-shadow: 0px 10px 5px #dedede;
    -webkit-transform: translate(0,-5px);
    -moz-transform: translate(0, -5px);
    -o-transform: translate(0,-5px);
}
.forma{
    order:1;
}
.tabl{
    order: 2;
}

@media(min-width: 1024px){
    .main{
        flex-direction: row;
    }
    .block{
        width: 48%;
    }
    .forma{
        order: 2;
    }
    .tabl{
        order: 1;
    }
}

/*Подвал*/
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

@keyframes bloom {
    0% {
        filter: grayscale(.8);
    }
    40% {
        filter: grayscale(.5);
    }
    100% {
        filter: grayscale(0);
    }
}

@keyframes circle {
    0% {
        opacity: .5;
        background: rgba(189, 179, 157, 0.2);
    }
    40% {
        opacity: 1;
        background: rgba(213, 34, 160, .2);
    }
    100% {
        width: 100%;
        height: 200%;
        opacity: 0;
    }
}
.section{
    color: rgba(0, 0, 0, 0.5);
}
.container h3 {
    font-size: 40px;
    text-align: center;
}
.logo {
    width: 80px;
    height: 80px;
    float: left;
    filter: brightness(100)
}
@media(min-width: 640px){
    .logo{
    margin: 10px 5px;
    }
}
@media(min-width: 1024px){
    .logo{
    margin-top: 15px;
    width: 120px;
    height: 120px;
    }
}
.tabl{
    height: 100%;
}
.zebra {
    border-spacing: 0;
    empty-cells: hide;
}

td {
    padding: 10px 20px;
    text-align: center;
    border-bottom: 1px solid #F4EEE8;
    transition: all 0.5s linear;
    color: rgb(192, 192, 192);
}

td:first-child {
    text-align: left;
    color: white;
    font-weight: bold;
}

th {
    padding: 10px 20px;
    color: white;
    border-bottom: 1px solid #F4EEE8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

tr:nth-child(even) {
    background: #2492df;
}

tr:nth-child(odd) {
    background: #333;
}
@media(min-width: 1024px){
    td{
        padding: 10px 0px;
    }
    th{
        padding: 10px 10px;
    }
}

.round-top {
    border-top-left-radius: 5px;
}

.round-bottom {
    border-bottom-left-radius: 5px;
}

tr:hover td {
    background: rgb(107, 0, 0);
    font-weight: bold;
    color: white;
}

.outer {
    margin-top: 20px;
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    text-align: center;
    width: auto;
    padding: 0 15px;
}

.login-wr {
    position: relative;
    margin: 0 auto;
    background: #fff;
    max-width: 550px;
    box-shadow: 3px 3px 24px #999;
    padding: 15px 15px 15px 15px;
}

.login-wr h2 {
    text-align: left;
    font-weight: 200;
    font-size: 1.6em;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #eeeeee;
    color: #474747;
}

.form {
    padding-top: 20px;
    text-align: left;
}

input[type="text"], input[type="email"] {
    margin-bottom: 25px;
    height: 40px;
    outline: 0;
    -moz-outline-style: none;
}

.checkcontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

/* Hide the browser's default checkbox */
.checkcontainer input {
  	position: absolute;
	  opacity: 0;
cursor: pointer;}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkcontainer:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkcontainer input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkcontainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkcontainer .checkmark:after {
    left: 10px;
    top: 6px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Create a custom radio button */
.radiobtn{
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.checkcontainer:hover input ~ .radiobtn{
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.checkcontainer input:checked ~ .radiobtn{
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiobtn:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkcontainer input:checked ~ .radiobtn:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.checkcontainer .radiobtn:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

button {
    height: 40px;
    outline: 0;
    -moz-outline-style: none;
}

input[type="text"] {
    background: url("img/user.png") no-repeat left 10px center;
}

input[type="email"] {
    background: url("img/email.png") no-repeat left 10px center;
}

textarea {
    background: url("img/pencil.png") no-repeat left 10px top 10px;
}

textarea {
    width: calc(100% - 55px);
    height: 120px;
    border: 1px solid #bbb;
    padding: 10px 10px 10px 45px;
    font-size: 14px;
}

input[type="text"], input[type="email"] {
    width: calc(100% - 45px);
    max-width: 250px;
    border: 1px solid #bbb;
    padding: 0 0 0 45px;
    font-size: 14px;
}

input[type="text"]:focus, input[type="email"]:focus {
    border: 1px solid #2196f3;
}

button {
    width: 100%;
    max-width: 150px;
    background: #e6ebee;
    border: none;
    border-bottom: 5px solid #d3dce1;
    color: #333;
    font-size: 14px;
    font-weight: 200;
    cursor: pointer;
    transition: box-shadow .4s ease;
}
